<table #dataTable class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Director</th>
            <th>Any</th>
            <th>Gènere</th>
            <th>Puntuació</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a routerLink="/detail/1">1</a></td>
            <td><a routerLink="/detail/1">The Amazing Spider-Man 2</a></td>
            <td>Marc Webb</td>
            <td>2014</td>
            <td>Superherois</td>
            <td>10</td>
        </tr>
        <tr>
            <td><a routerLink="/detail/2">2</a></td>
            <td><a routerLink="/detail/2">Star Wars EP III</a></td>
            <td>George Lucas</td>
            <td>2005</td>
            <td>Ciència ficció</td>
            <td>10</td>
        </tr>
        <tr>
            <td><a routerLink="/detail/3">3</a></td>
            <td><a routerLink="/detail/3">Blade Runner 2049</a></td>
            <td>Denis Villeneuve</td>
            <td>2017</td>
            <td>Ciència ficció</td>
            <td>9</td>
        </tr>
        <tr>
            <td><a routerLink="/detail/4">4</a></td>
            <td><a routerLink="/detail/4">Batman The Dark Knight</a></td>
            <td>Christopher Nolan</td>
            <td>2008</td>
            <td>Superherois</td>
            <td>8</td>
        </tr>
        <tr>
            <td><a routerLink="/detail/5">5</a></td>
            <td><a routerLink="/detail/5">Matrix</a></td>
            <td>Lana Wachowski</td>
            <td>1999</td>
            <td>Ciència ficció</td>
            <td>7</td>
        </tr>
        <tr>
            <td><a routerLink="/detail/6">6</a></td>
            <td><a routerLink="/detail/6">Rogue One</a></td>
            <td>Gareth Edwards</td>
            <td>2016</td>
            <td>Ciència ficció</td>
            <td>8</td>
        </tr>
        <tr>
            <td><a routerLink="/detail/7">7</a></td>
            <td><a routerLink="/detail/7">Star Wars EP II</a></td>
            <td>George Lucas</td>
            <td>2002</td>
            <td>Ciència ficció</td>
            <td>7</td>
        </tr>
        <tr>
            <td><a routerLink="/detail/8">8</a></td>
            <td><a routerLink="/detail/8">Star Wars EP I</a></td>
            <td>George Lucas</td>
            <td>1999</td>
            <td>Ciència ficció</td>
            <td>8</td>
        </tr>
        <tr>
            <td><a routerLink="/detail/9">9</a></td>
            <td><a routerLink="/detail/9">Aquaman</a></td>
            <td>James Wan</td>
            <td>2018</td>
            <td>Superherois</td>
            <td>8</td>
        </tr>
        <tr>
            <td><a routerLink="/detail/10">10</a></td>
            <td><a routerLink="/detail/10">Spider-Man 1</a></td>
            <td>Sam Raimi</td>
            <td>2002</td>
            <td>Superherois</td>
            <td>10</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Director</th>
            <th>Any</th>
            <th>Gènere</th>
            <th>Puntuació</th>
        </tr>
    </tfoot>
</table>
